body {
    color: #000;
}

.infobox-black {
    color: #000;
    border-color: #000;
}
.infobox-black > .infobox-icon > .ace-icon {
    background-color: #000;
}
.infobox-black.infobox-dark {
    background-color: #000;
    border-color: #000;
}

.signup-box .toolbar {
    background: none repeat scroll 0 0 #000;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    color: #000;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
    color: #000;
}

.form-control,
select {
    color: #000;
}
.form-control:focus,
select:focus {
    color: #000;
}

select[disabled] {
    color: #000 !important;
}

/*set smaller blockquote*/
blockquote {
    font-size: 1em !important;
    padding: 5px 5px;
    margin: 0 0 5px;
    border-color: #888d91;
}

/*set smaller H inside bugnotes*/
td.bugnote-note h1,
td.bug-description h1 {
    font-size: 23px;
}
td.bugnote-note h2,
td.bug-description h2 {
    font-size: 21px;
}
td.bugnote-note h3,
td.bug-description h3 {
    font-size: 19px;
}
td.bugnote-note h4,
td.bug-description h4 {
    font-size: 17px;
}

/*better table when using markdown in bugnotes*/
td.bugnote-note table > tbody > tr > td,
td.bugnote-note table > thead > tr > th {
  padding-left: 8px;
  padding-right: 8px;
}
